* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  max-width: 1170px;
  margin: auto;
}

header .header-top {
  background-color: #101010;
}

header .header-top a {
  text-decoration: none;
}

header .header-top .container {
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

header .header-top .info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  align-self: flex-end;
}

header .header-top .info ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .header-top .info ul li {
  margin-right: 25px;
  font-size: 12px;
}

header .header-top .info ul li a {
  color: #989898;
}

header .header-top .info ul li i {
  margin-right: 7px;
  font-size: 15px;
  color: #009cff;
}

header .header-top .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-top .navbar ul li img {
  width: 90px;
}

header .header-top .navbar ul li a {
  padding: 15px 25px;
  color: white;
  font-size: 14px;
}

header .header-top .navbar ul li i {
  font-size: 9px;
  color: #837b65;
}

