.jumbotron {
  height: 480px;
  background-image: url("https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
