.jumbotron {
  background-image: url("https://www.painterartist.com/static/ptr/images/home/bg-painter-home.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    height: 480px;
    @include flex(center, flex-start);
    flex-direction: column;

    div, h1, h3, p {
      width: 540px;
    }
    p {
      line-height: 1.5;
    }
  }

  .jumbo-top {
    img {
      width: 250px;
    }
    p {
      margin: 15px 0 35px;
      font-size: 21px
    }
  }

  .jumbo-sale {
    margin: 15px 0 35px;
    color: #c70cb9;
  }

}
